.footer-logo {
  width: 80px;
}

body {
  font-family: 'Roboto',arial,sans-serif;
}

h1 {
  font-size: 200%;
}

a {
  text-decoration: none;
  color: 000;
}

a:hover {
  opacity: 0.7;
}

.movie-container {
  margin: 5px;
  display: inline-block;
  width: 185px;
  box-shadow: 2px 2px 15px #888;
  border-radius: 5px;
  text-align: center;
  vertical-align: top;
  position: relative;
}

.movie-container img {
  border-radius: 5px;
}

.movie-container:hover {
  box-shadow: 2px 2px 15px #222;
}

.calendar-button {
  position: relative; /* So the calendar links stay here and don't go to the top left of the page.*/
}

div.add-to-calendar-dropdown {
  /* because 16px was causing the bottom link to wrap */
  font-size: 15px;

  /* Fill up width of card with calendar links. */
  padding: 0;
  width: 100%;
}

label.add-to-calendar-label {
  box-shadow: 2px 2px #aaa !important;
  background-color: #f0f0f0;
  /* width: 100%;
  line-height: 2em;
  padding: 0; */
}

label.add-to-calendar-label:hover {
  background-color: #ddd;
}

.all-calendar-links {
  text-align: left;
  position: absolute;
  top: 0;
  background: rgba(255, 255, 255, 0.9);
  width: 0;

  max-height: 0;
  overflow: hidden;
  /* Animating width and height to reduce a wonky bug that touch on mobile causes a click on the invisible menu */
  transition: max-height 1s, width 1s;
  -webkit-transition: max-height 1s, width 1s;
  white-space:nowrap;
}

.movie-container:hover .all-calendar-links {
  max-height: 100%;
  width: 100%;
}

.cal-link-div {
  font-size: 15px;
  padding: 1em;
}

.no-poster {
  width: 185px;
  height: 278px;
  /* height: 220px; */
  background-color: #ddd;
}

.search-ui {
  line-height: 1.5em;
}


footer a {
  box-shadow: 0px 0px 10px #999;
  margin: 8px;
  padding: 4px;
  display: table;
}
