.footer-logo {
  width: 80px;
}

body {
  font-family: 'Roboto',arial,sans-serif;
}

h1 {
  font-size: 200%;
}

a {
  text-decoration: none;
  color: 000;
}

a:hover {
  opacity: 0.7;
}

.movie-container {
  border: 1px solid #ccc;
  margin: 5px;
  display: inline-block;
  width: 185px;
  box-shadow: 2px 2px 15px #888;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  vertical-align: top;
}

.movie-container:hover {
  box-shadow: 2px 2px 15px #222;
}

.calendar-button {
  position: relative; /* So the calendar links stay here and don't go to the top left of the page.*/
}

.add-to-calendar-dropdown {
  /* because 16px was causing the bottom link to wrap */
  font-size: 15px;
}

label.add-to-calendar-label {
  /* box-shadow: 2px 2px #aaa !important; */
  background-color: #e4e4e4;
  width: 100%;
  line-height: 2em;
  padding: 0;
}

label.add-to-calendar-label:hover {
  background-color: #fff;
}

.calendar-button a {
  text-align: left;
}

.no-poster {
  width: 185px;
  height: 278px;
  /* height: 220px; */
  background-color: #ddd;
}

.search-ui {
  line-height: 1.5em;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  box-shadow: 0px 0px 10px #999;
  margin: 8px;
  padding: 4px;
  display: table;
}